/* Estilos generales */

/* Mobile first */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #0e0d0d;
    color: #fefefe;
    display: flex;
    flex-direction: column;
}

body, footer {
    height: 100%;
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    margin: 0 auto;
}

/* Encabezado */

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -60px;
    margin-bottom: 20px;
}

.logo-1 {
    display: none;
}

.logo-2 {
    height: 300px;
    width: 300px;
}

.logo-1 a:hover {
    color: #a59e1f;
}

.header a {
    color: #FEF445;
    font-size: 20px;
    text-decoration: none;
}

.header a:hover {
    color: #a59e1f;
}

.header ul li {
    margin-top: 17px;
}

.header ul img {
   max-width: 100%;
   margin-right: 5px;
}

.icon {
    width: 20px;
    height: 20px;
}

.header nav {
    margin-top: -25px;
    margin-bottom: 25px;
    margin-left: 20px;
}


/* Descripción */

#description {
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.comentario-container img {
    display: none;
}

.description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #FEF445;
    background-color: inherit;
    padding: 10px;
}

h1 {
    font-size: 25px;
    font-weight: 100;
    text-wrap: pretty;
}

#description button {
    background-color: #FEF445;
    height: 30px;
    width: 120px;
    border-radius: 10px;
    border: 2px solid #0d0d0d;
    padding: 5px;
}

#description button:hover {
    cursor: pointer;
}

#description .icon {
    margin-left: 5px;
}

.description__button {
  margin: auto;
  padding-top: 30px;
}

.description__button a {
    text-decoration: none;
    color: #0d0d0d;
}


.description__button button {
    margin: -30px 0 0 0;

}

.description__button img {
    margin: -5px;
}


/* Contacto */

#contact {
    margin-top: 30px;
    margin-bottom: 50px;
}

#contact img {
    height: 70px;
    width: 70px;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#contact form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px 0;
}

#contact form input {
    height: 30px;
    width: 200px;
    margin: 5px 0;
    outline: none;
    background-color: #0d0d0d;
    color: #fefefe;
    border: 2px solid #6d6b6b;
    border-radius: 5px;
    padding: 10px 20px 10px 7px;
}

#contact form input::placeholder {
    padding-left: 10px;
}

#contact button {
    width: 80px;
    height: 30px;
    background-color: #FEF445;
    border-radius: 5px;
    border: none;
    padding: 5px;
    color: rgb(0, 0, 0);
}

#contact button:hover {
    cursor: pointer;
    color: #807a1a;
}

#contact button:active {
    background-color: #cec63a;
}


/* Pie de pagina */

.footer {
 text-align: center;
}


/* Resoluciones */

/* Tablet */

@media (min-width: 600px) {
    .container {
        max-width: 600px;
        margin: 0 auto;
    }

    /* Navegación */
    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav__ul {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -50px;
        margin-bottom: 50px;
    }

    .nav__li {
        margin-left: 45px;
        padding-left: 10px;
    }

    /* Sección de la descripción */
    #description {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .comentario-container img {
        display: block;
        height: 220px;
        width: 220px;
    }

    .comentario-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Description */

    .description-container {
        margin-left: 30px;
    }

    .description__button {
       margin-left: 40px;
    }

    /* Contacto */
    #contact {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media (min-width: 660px) {
    .description-container {
        margin-left: 50px;
        min-width: 330px;
    }

    .description__button {
        margin-left: 25px;
     }
}

@media (min-width: 720px) {
    .description-container {
        margin-left: 70px;
        min-width: 380px;
    }

    .description__button {
        margin-left: -20px;
     }

}

@media (min-width: 800px) {
    .description-container {
        margin-left: 90px;
        min-width: 420px;
    }

    .description__button {
        margin-left: -50px;
     }

}

@media (min-width: 899px) {
    .description-container {
        margin-left: 80px;
        min-width: 480px;
    }

    .description__button {
        margin-left: -70px;
     }
}

/* Version escritorio */

@media (min-width: 980px) {
    .container {
        max-width: 1280px;
        margin: 0 auto;
    }

    /* Encabezado */
    .header {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo-1 {
        display: block;
        height: 200px;
        width: 200px;
        margin-top: -30px;
    }

    .logo-2 {
        display: none;
    }

    .logo-container {
        margin-top: 0px;
        margin-bottom: 0;
    }

    /* Navegación */

    .nav__ul {
        margin-top: 20px;
        margin-bottom: 0;
        margin-right: 20px;
    }

    .nav__li {
        margin-left: 15px;
        padding-left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon {
        height: 25px;
        width: 25px;
    }

    /* Sección de la descripción */

    .comentario-container img {
        height: 250px;
        width: 250px;
    }

    .description-container {
        margin-left: 40px;
    }

    h1 {
        font-size: 30px;
    }

    .description__button {
        margin-left: 50px;
     }


    /* Contacto */

    #contact {
        padding: 40px;
    }

    .contact-container form {
        flex-direction: row !important;
    }

    .contact__input {
        width: 100%;
        margin-top: 5px;
        margin-left: 30px !important;
    }

    .contact-container button {
        width: 100%;
        margin-top: 5px !important;
        margin-left: 40px !important;
    }

    /* footer */

    .footer {
        text-align: end;
        margin-left: -30px;
    }
}

