html{
    height: 100%;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #0e0d0d;
    height: 100%;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

     /* Encabezado */

.header{
    display: flex;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 1em;
}


ul{
    list-style: none;
    display: none;
}

.logo{
    width: 300px;
    margin: 0px;
}


ul li a{
    color: #FEF445;
}

a:hover{
    color:#807a1a;
}

    /*formulario*/

h1 {
    color: #FEF445;
    text-align: center;
    font-size: 40px;
    margin: 0 0 20px 0;
}

form{
    text-align: center;
}


.form_input{
    font-family: sans-serif;
    background-color: #0e0d0d;
    color:#ffffff;
    border: 2px solid #6d6b6b;
    border-radius: 5px;
    padding: 10px 20px 10px 7px;
    font-size: 20px;
    outline: none;
}
        /*Boton enviar (submit)*/

.form__submit {
    margin-top: 25px;
    padding: 8px 40px;
    border: none;
    border-radius: 5px;
    background-color: #FEF445;
    color: rgb(0, 0, 0);
    font-size: 18px;
    cursor: pointer;
}

.form__submit:active{
    background-color: #cec63a;
}

.form__submit:hover{
    cursor: pointer;
    color: #807a1a;
}
        /*Pie de pagina*/
.footer{
    color: white;
    text-align: center;
    margin-top: auto;
}

    /*Resoluciones*/
@media (min-width: 740px) {
    
    header{
        display: flex;
        justify-content: end;
    }

    .logo{
        width: 250px;
        
    }

    .icon{
        margin-left: 3px;
    }

    .hambutton{
        display: none;
    }

    ul{
        display: inline;
    }

    li{
        display: inline-block;
        margin: 0 15px;
    }

    .icon{
        width: 25px;
    }
}